/*RESET*/
 html, body, div, span, applet, object, iframe,
 h1, h2, h3, h4, h5, h6, p, blockquote, pre,
 a, abbr, acronym, address, big, cite, code,
 del, dfn, em, img, ins, kbd, q, s, samp,
 small, strike, strong, sub, sup, tt, var,
 b, u, i, center,
 dl, dt, dd, ol, ul, li,
 fieldset, form, label, legend,
 table, caption, tbody, tfoot, thead, tr, th, td,
 article, aside, canvas, details, embed, 
 figure, figcaption, footer, header, hgroup, 
 menu, nav, output, ruby, section, summary,
 time, mark, audio, video {
 	margin: 0;
 	padding: 0;
 	border: 0;
 	font-size: 100%;
 	font: inherit;
 	vertical-align: baseline;
 }
 /* HTML5 display-role reset for older browsers */
 article, aside, details, figcaption, figure, 
 footer, header, hgroup, menu, nav, section {
 	display: block;
 }
 
 ol, ul {
 	list-style: none;
 }
 blockquote, q {
 	quotes: none;
 }
 blockquote:before, blockquote:after,
 q:before, q:after {
 	content: '';
 	content: none;
 }
 table {
 	border-collapse: collapse;
 	border-spacing: 0;
 }
 br.clear { clear: both; }
 strong {
 	font-weight: 500;
 }

/*MY STYLES*/
/*Colors*/
$clearColor : #e8e7e9;
$mainNavColor : #322437;
$headerColor : #595460;
$fontMainNavColor: #9a96aa;
$green : #58b058;
$red : red;

$contextHTML : 1000px;
$contextFont : 16px;

@mixin rounded($size){
	-webkit-border-radius: $size;
	-o-border-radius: $size;
	border-radius: $size;
} 

@mixin shadow($list){
	-webkit-box-shadow: $list;
	-o-box-shadow: $list;
	box-shadow: $list;
} 

body{
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial; 	
	font-size: 1em;
	font-weight: 300;
	background-color: #283037;
}

.login{
	tr:first-child{
		td{
			text-align: center;
		}
	}
	tr:nth-child(4){
		td{
			padding-bottom: 10px;
			padding-right: 10px;
		}
	}
	td:first-child{
		font-weight: 500;
		text-align: right;
	}
	td{
		padding-top: 10px;
		text-align: center;
		img{
			border: none;
			box-shadow: none;
			float: none;
		}
	}
}

.paneldeportes{
	width: 256px;
	height: 450px;
}

#mainNav{
	width: percentage(170px/$contextHTML);
	background-color: $mainNavColor;
	float: left;
	min-height: 720px;
	a{	
		color: $fontMainNavColor;
		text-decoration: none;
	}
	a:hover{
		color: white;
	};
	.toplogo{
		display: block;
		text-align: center;
		background-color: white;
		height: 50px;
		img{
			width: 115px;
			position: relative;
			top: 7px;
		}
	}

	ul{
		padding: 20px;	

		ul{
			padding: 0px;
			padding-left: 20px;
			font-size: 14px;

			a{
				color: lighten($fontMainNavColor, 30%);
			}
		}
	}

}

.topNav{
	width: percentage(830px/$contextHTML);
	height: 50px;
	background-color: $headerColor;
	float: right;
	color: lighten($fontMainNavColor, 20%);
	a{
		color: lighten($fontMainNavColor, 30%);
		text-decoration: none;
		font-size: 13px;

	}
	a:hover{
		color: white;
	};
	p{
		text-align: right;
		margin-top: 6px;
		margin-right: 30px;
		line-height: 14px;
	}
	span{
		font-weight: bold;
	}
}
#main{
	background-color: $clearColor;
	width: percentage(830px/$contextHTML);
	//max-height: 670px;
	min-height: 670px;
	float: right;
	padding-bottom: 20px;
	//overflow: scroll;
	table{
		margin: 0 auto;
		letter-spacing: -1.3px;
		text-align: center;
		td:nth-child(2){
			text-align: left;
		}
		td{
			border: 1px solid lighten($fontMainNavColor, 30%);
			padding: 5px;
		}
		th{
			font-weight: 400;
		}
	}
	p{
		margin: 0 auto;
		//padding: 10px;
	}
}

.colab_edit{
	padding: 20px;
	border: 3px solid lighten($fontMainNavColor, 30%);
	@include rounded(5px);
	@include shadow(2px 2px 2px lighten($fontMainNavColor, 20%));
	width: 450px;
	margin: 0 auto;
	margin-top: 20px;
	text-shadow: 1px 1px 1px white;
	background-color: lighten($fontMainNavColor, 40%);
	position: relative;
	h1{
		font-weight: bold;
		font-size: 25px;
	}
	img {
		float: left;
		border: 3px solid lighten($fontMainNavColor, 30%);
		@include shadow(2px 2px 2px lighten($fontMainNavColor, 20%));
	}
	ul.fullColab{
		float: left;
		margin-left: 20px;
		margin-top: 6px;
		width: 270px;
	}

	.controls{
		position: relative;
		padding: 0px;
		text-align: right;
	}

	#layouts {
		img{
			width: 168px;
			float: left;
			margin: 10px;
		}
	}
}

.boton-charm {
	position: relative;
	left: 10%;
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 14px/100% Arial, Helvetica, sans-serif;
	padding: .5em 2em .55em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	&:hover {
	text-decoration: none;
	}
	&:active {
		position: relative;
		top: 1px;
	}
}

.natural {
	color: #fef4e9;
	border: solid 1px #C576CF;
	background: #C576CF;
	background: -webkit-gradient(linear, left top, left bottom, from(#C576CF), to(#CE27E1));
	background: -moz-linear-gradient(top,  #C576CF,  #CE27E1);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#C576CF', endColorstr='#CE27E1');
	&:hover{
		background: #CCB0CF;
		background: -webkit-gradient(linear, left top, left bottom, from(#CCB0CF), to(#C756E2));
		background: -moz-linear-gradient(top,  #CCB0CF,  #C756E2);
		filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#CCB0CF', endColorstr='#C756E2');
	}
	&:active {
	color: #FFFFFF;
	background: -webkit-gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a));
	background: -moz-linear-gradient(top,  #f47a20,  #faa51a);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f47a20', endColorstr='#faa51a');
	}
}

.articulos_main{
	width: 900px;
}