<h1>Upload Banner</h1>
<table>
	<tr>
		<td colspan="2">
			<img src="{{banner}}" style="width: 180px" class="uploadImg"/><br>
            <span class="file-wrapper" id="yemn">
            <input type="file" name="photo" id="photoip" />
             <span id="UploadImagen" class="button">Browse...</span>
            </span>
		</td>
	</tr>
</table>
<br class="clear">

<p class="controls">
	<button class="natural rbannerregistro">Guardar</button>
</p>
