<h1>{{titulo}}</h1>
<h2>{{subtitulo}}</h2>
<br/>
<table id="imagenes">
	{{#each imagenes}}
	<tr>
	<td><img height="200px" width="200px" src="Sociales/{{../sociales_id}}/{{this}}"></td>
	<td><textarea name=""></textarea></td>
		</tr>
	{{/each}}
</table>

<button class="boton-charm natural editar">Guardar</button>