<form class="colab_edit" action="controllers/outfit_controller.php" method="post">
<h1>Upload Outfit</h1>
<table>
	<tr>
		<td colspan="2">
			<img src="upload/img/{{outfit}}" style="width: 180px" class="uploadImg"/><br>
			<input type="button" value="Browse..." class="uploadImg">
			<p class="error" style="width: 120px;"></p>
		</td>
	</tr>
</table>
<br class="clear">

<p class="controls">
	<input type="submit" value="Guardar"/>
	<a href="#outfit" class="button">Cancelar</a>
</p>
</form>

