<br/>
<p>Nombre</p>
<input type="text" name="nombre" id="nomb">
<p>Correo</p>
<input type="email" name="username" id="imeil">
<p>Password :3!</p>
<input type="password" name="password" id="passguord">
<p>Admin Level</p>
<select name="permisos">
	<option value="1">Administrator</option>
    <option value="2">Editor</option>
    <option value="3">Colaborador</option>
</select>
<br/>
<br/>
<button class="boton-charm registro natural">Registrar</button>