<br/>
<table>
<tr>
	<td>
	<img id="imagenprincipalota" src="img/ImagenPrinciDefault.png" height="200px" width="200px">
    </td>
    <td>
	<img id="tomota" src="img/Tomneil.png" height="150px" width="150px">
    </td>
</tr>
<tr>
	<td colspan="2"><p>{{titulo}}</p></td>
</tr>
<tr>
	<td colspan="2"><p>{{subtitulo}}</p></td>
</tr>
<tr>
	<td colspan="2"><p>{{seccion_id}}</p></td>
</tr>
<tr>
	<td colspan="2"><p>{{colaborador_id}}</p></td>
</tr>
<tr>
	<td colspan="2">
		<div class="nicEdit-main" id="holi" contenteditable="false"> </div>
		</td>
</tr>
</table>
<br/>
<div id="contenidomostrar" align="right">

</div>

<br/>